

@{
    ViewBag.Title = "รายชื่อนายก เลขาและเหรัญญิก";
    // var identity = (HttpContext.Current.User as RegisterLions.MyPrincipal).Identity as RegisterLions.MyIdentity;
    int zone_officer_id = 0;
    int region_officer_id = 0;    
}



<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title </div>
    <div class="panel-body">
        <div class="col-md-9">

        </div>
        @using (Html.BeginForm("RegionZone", "MyDistrict", FormMethod.Post, new { name = "searchForm" }))
        {


            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("searchFisicalYear", null, htmlAttributes: new { @class = "form-control ", onChange = "document.searchForm.submit();" })
                    </div>
                </div>
                
            </div>
        }
        <table class="table table-bordered table-hover" id="myTable1" cellspacing="0">
            
            <tbody>
                @foreach (var item in ViewBag.zoneClub)
                {
                    if (region_officer_id != item.ZoneOfficer.RegionOfficer.region_officer_id)
                    {
                        region_officer_id = item.ZoneOfficer.RegionOfficer.region_officer_id;
                        string imgSrc1;
                        if (item.ZoneOfficer.RegionOfficer.Member.image != null)
                        {
                            var base64 = Convert.ToBase64String(item.ZoneOfficer.RegionOfficer.Member.image);
                            imgSrc1 = String.Format("data:image/gif;base64,{0}", base64);

                        }
                        else
                        {
                            imgSrc1 = "../Pictures/login.jpg";
                        }
                        <tr class="success">
                            <td>ประธานเภูมิภาคที่ @item.ZoneOfficer.RegionOfficer.region_no @item.ZoneOfficer.RegionOfficer.Member.full_name <img src='@imgSrc1' style="max-width:70px; max-height:70px;" /> </td>
                        </tr>

                    }

                    if (zone_officer_id != item.zone_officer_id)
                    {
                        zone_officer_id = item.zone_officer_id;
                        string imgSrc2;
                        if (item.ZoneOfficer.Member.image != null)
                        {
                            var base64 = Convert.ToBase64String(item.ZoneOfficer.Member.image);
                            imgSrc2 = String.Format("data:image/gif;base64,{0}", base64);

                        }
                        else
                        {
                            imgSrc2 = "../Pictures/login.jpg";
                        }
                        <tr class="warning">
                            <td>ประธานเขตที่ @item.ZoneOfficer.zone_no @item.ZoneOfficer.Member.full_name <img src='@imgSrc2' style="max-width:70px; max-height:70px;" /></td>
                        </tr>


                    }
                    <tr class="danger">
                        <td>@item.club_seq สโมสรไลออนส์ @item.Club.club_name_thai
                        @{
                            if (@item.Club.club_sts != 1)
                            {
                                <span class="label label-danger">@item.Club.ClubStatus.club_status_desc</span>

                            }

                        }
                        </td>
                    </tr>
                    foreach (var clubofficer in ViewBag.clubOfficer)
                    {
                        if (clubofficer.club_id == item.club_id)
                        {
                            string imgSrc3;
                            if (clubofficer.Member.image != null)
                            {
                                var base64 = Convert.ToBase64String(clubofficer.Member.image);
                                imgSrc3 = String.Format("data:image/gif;base64,{0}", base64);

                            }
                            else
                            {
                                imgSrc3 = "../Pictures/login.jpg";
                            }
                    <tr >

                        <td>
                            
                                <dd><img src='@imgSrc3' style="max-width:70px; max-height:70px;" />@clubofficer.Member.full_name
                                @clubofficer.Officer.title
                            @{
                                if (@clubofficer.Member.member_sts == 2)
                                {
                                    <span class="label label-danger">พ้นสภาพ</span>

                                }
                            }
                            </dd>                                
                           

                        </td>






                    </tr>
                            }
                        }
                    }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">&nbsp;</div>
</div>