@model IEnumerable<RegisterLions.Models.RegionOfficer>

@{
    ViewBag.Title = "รายชื่อนายก เลขาและเหรัญญิก";
    var identity = (HttpContext.Current.User as RegisterLions.MyPrincipal).Identity as RegisterLions.MyIdentity;
}



<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title @identity.User.district_name_thai (@identity.User.district_id) </div>
    <div class="panel-body">
        <div class="col-md-8">

        </div>
        @using (Html.BeginForm("RegionZone", "MyDistrict", FormMethod.Post, new { name = "searchForm" }))
            {

            <div class="col-md-4">
                <div class="input-group">

                    @Html.DropDownList("searchFisicalYear", null, htmlAttributes: new { @class = "form-control pull-right", onChange = "document.searchForm.submit();" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" name="submitButton" onclick="document.searchForm.submit();">
                            <i class="text-muted glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        }
        <div class="table-responsive">
            <table class="table table-bordered">
                @foreach (var item in Model)
                {
                    <tr style="border-top: none">
                        <td style="border-top: none">

                            ภูมิภาคที่ @Html.DisplayFor(modelItem => item.region_no) @Html.DisplayFor(modelItem => item.Member.full_name)
                            @{
                                string imgSrc = null;
                                if (item.Member.image != null)
                                {
                                    var base64 = Convert.ToBase64String(item.Member.image);
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src='@imgSrc' style="max-width:50px; max-height:50px;" />
                                }
                                else
                                {
                                    <img src='~/Pictures/login.jpg' style="max-width:50px; max-height:50px;" />
                                }

                            }
                        </td>


                    </tr>
                    <tr style="border-top: none">
                        <td style="border-top: none">
                            <table class="table">
                                @foreach (var zone in ViewBag.zoneOfficer)

                                {

                                    if (zone.region_officer_id == item.region_officer_id)
                                    {
                                        <tr style="border-top: none">

                                            <td style="border-top: none">
                                                เขตที่ @zone.zone_no
                                                @zone.Member.full_name
                                                @{
                                                    string imgSrc1;
                                                    if (zone.Member.image != null)
                                                    {
                                                        var base64 = Convert.ToBase64String(zone.Member.image);
                                                        imgSrc1 = String.Format("data:image/gif;base64,{0}", base64);
                                                        <img src='@imgSrc1' style="max-width:50px; max-height:50px;" />
                                                    }
                                                    else
                                                    {
                                                        <img src='~/Pictures/login.jpg' style="max-width:50px; max-height:50px;" />
                                                    }

                                                }
                                            </td>
                                        </tr>
                                        <tr style="border-top: none">
                                            <td style="border-top: none">
                                                <table class="table">
                                                    @foreach (var club in ViewBag.zoneClub)
                                                    {
                                                        if (club.zone_officer_id == zone.zone_officer_id)
                                                        {
                                                            <tr style="border-top: none">

                                                                <td style="border-top: none">
                                                                    @club.club_seq สโมสรไลออนส์
                                                                    @club.Club.club_name_thai
                                                                </td>
                                                            </tr>
                                                            <tr style="border-top: none">
                                                                <td style="border-top: none">
                                                                    <table class="table table-bordered">
                                                                        @foreach (var clubofficer in ViewBag.clubOfficer)
                                                                        {
                                                                            if (clubofficer.club_id == club.club_id)
                                                                            {
                                                                                <tr style="border-top: none">
                                                                                    <td style="border-top: none">
                                                                                        @{
                                                                                            string imgSrc2;
                                                                                            if (clubofficer.Member.image != null)
                                                                                            {
                                                                                                var base64 = Convert.ToBase64String(clubofficer.Member.image);
                                                                                                imgSrc2 = String.Format("data:image/gif;base64,{0}", base64);
                                                                                                <img src='@imgSrc2' style="max-width:50px; max-height:50px;" />
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <img src='~/Pictures/login.jpg' style="max-width:50px; max-height:50px;" />
                                                                                            }

                                                                                        }
                                                                                        @clubofficer.Member.full_name
                                                                                        @clubofficer.Officer.title


                                                                                    </td>

                                                                                </tr>
                                                                                                }
                                                                                            }

                                                                    </table>
                                                                </td>
                                                            </tr>




                                                                                                }

                                                                                            }
                                                </table>
                                            </td>
                                        </tr>
                                                                                                }

                                                                                            }

                            </table>
                        </td>
                    </tr>
                                                                                            }



            </table>
        </div>

        
    </div>
</div>