@model RegisterLions.Models.ChangePwd
@{
    ViewBag.Title = "เปลี่ยนรหัสผ่าน";
}

<br />
<div class="row">
    <div class="col-md-3">

    </div>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <button id="submitButton" name="submitButton" class="btn btn-primary">
                                <i class="glyphicon glyphicon-thumbs-up"></i> ยืนยัน
                            </button>
                            
                                <a class="btn btn-warning" href="@Url.Action("Profile", "Manage")"><i class="glyphicon glyphicon-arrow-left"></i> ก่อนหน้า</a>
                            
                            

                        </div>
                    </div>
                </div>
                <div class="panel-footer">&nbsp;</div>
            </div>
            </div>
            }
    <div class="col-md-3">

    </div>
        </div>

