@model IEnumerable<RegisterLions.Models.ClubOfficer>

@{
    ViewBag.Title = "รายชื่อกรรมการบริหาร ปีบริหาร ";
    ViewBag.FiscalYearDisp = "";
    foreach (var item in Model)
    {
        ViewBag.FiscalYearDisp = item.fiscal_year_disp;
    }
    var identity = (HttpContext.Current.User as RegisterLions.MyPrincipal).Identity as RegisterLions.MyIdentity;

}


<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Title@ViewBag.FiscalYearDisp สโมสรไลออนส์@identity.User.club_name_thai (@identity.User.club_id) @identity.User.district_name_thai (@identity.User.district_id)</div>
    <div class="panel-body">
        <div class="col-md-6">

        </div>
        @using (Html.BeginForm("Officer", "MyLionsClubs", FormMethod.Post, new { name = "searchForm" }))
            {

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("searchFisicalYear", null, htmlAttributes: new { @class = "form-control ", onChange = "document.searchForm.submit();" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("club_id", null, htmlAttributes: new { @class = "form-control ", onChange = "document.searchForm.submit();" })
                    </div>
                </div>
            </div>
        }
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="myTable1">
                <thead>
                    <tr>
                        <th class="text-center">
                            รายละเอียด
                        </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <dl class="dl-horizontal">
                                    @{
                                        string imgSrc2;
                                        if (item.Member.image != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Member.image);
                                            imgSrc2 = String.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        else
                                        {
                                            imgSrc2 = "../Pictures/login.jpg";
                                        }
                                        }
                                    @*<dt>ตำแหน่ง</dt>*@
                                    <dd><img src='@imgSrc2' style="max-width:70px; max-height:70px;" /></dd>
                                    <dd>@Html.DisplayFor(modelItem => item.Officer.title)</dd>
                                    @*<dt>ชื่อ-นามสกุล</dt>*@

                                    <dd>
                                        @Html.DisplayFor(modelItem => item.Member.full_name)

                                        (@Html.DisplayFor(modelItem => item.Member.member_id))
                                    </dd>
                                </dl>
                            </td>



                        </tr>
                    }
                </tbody>

            </table>
            </div>
        </div>

        <div class="panel-footer">&nbsp;</div>
    </div>