@model RegisterLions.Models.ClubStatus

@{
    ViewBag.Title = "ลบข้อมูลสถานะสโมสร";
}




<div>
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <h3>ท่านต้องการลบข้อมูลหรือไม่?</h3>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.club_sts)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.club_status_desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club_sts)
                </dd>
                <dd>
                    @Html.DisplayFor(model => model.club_status_desc)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button id="deleteButton" name="submitForm" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        ลบข้อมูล
                    </button>
                    <a class="btn btn-warning" href="@Url.Action("Index", "ClubStatus")"><i class="glyphicon glyphicon-thumbs-down"></i> ยกเลิก</a>
                </div>
            }
            <div class="panel-footer">&nbsp;</div>
        </div>
    </div>
</div>
