@model RegisterLions.Models.RegionOfficer

@{
    ViewBag.Title = "เพิ่มชื่อประธานภูมิภาค";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.region_no, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.region_no, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.region_no, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fiscal_year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fiscal_year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.fiscal_year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.member_seq, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                        
                        @Html.DropDownList("member_seq", null, "เลือกชื่อ", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.member_seq, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="submitButton" name="submitButton" class="btn btn-primary">
                            <i class="glyphicon glyphicon-thumbs-up"></i> จัดเก็บ
                        </button>
                        <a class="btn btn-warning" href="@Url.Action("Index", "RegionOfficers")"><i class="glyphicon glyphicon-thumbs-down"></i> ยกเลิก</a>
                    </div>
                </div>
               
            </div>
            </div>
        <div class="panel-footer">&nbsp;</div>
        </div>
            }

            
