@model RegisterLions.Models.MembershipType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MembershipType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.membership_desc_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.membership_desc_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.membership_desc_eng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.membership_desc_eng)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.membership_type }) |
    @Html.ActionLink("Back to List", "Index")
</p>
