@model RegisterLions.Models.Officer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Officer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.officer_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officer_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.officer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
